# Node / Angular
**/node_modules/
**/dist/
**/.angular/
**/.angular/cache/
**/coverage/
**/tmp/
**/out-tsc/

# Environment files
**/.env

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Editors / OS
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
